.header {
    padding: 2%; 
    display: flex;
    flex-wrap: wrap;
    background-color: $red;
    gap: 50px;

    @include mq(small) {
        gap: 20px;
    }

    @include mq(medium) {
        padding: 2% 5%;
        gap: 20px;
    }

    @include mq(large) {
        padding: 2% 2%;
        flex-wrap: nowrap;
    }

    @include mq(extra-large) {
        padding: 0 2%;
    }

    &__promo {
        width: 100%;
        display: flex;
    }

    &__item {
        width: 100%;

        @include mq(small) {
            display: flex;
            gap: 20px;
        }

        @include mq(large) {
            align-items: center;
        }
    }
}

.percent-info { 
    text-align: center;

    @include mq(small) {
        text-align: left;
    }

    &__text {
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__number {
        display: inline-flex;
        font-size: 144px;
        color: $yellow;

        p {
            line-height: 1;
            text-indent: -10px;
        }
        span {
            font-size: 60px;
        }
    }    
}


