.pagination {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__button {
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        color: $red;
        transition: transform .2s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        &:focus {
            outline: 1px solid $yellow;
        }
    }
}