.products {
    padding: 30px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    @include mq(extra-large) {
        padding: 30px 0;
    }
}

.product {
    border: 1px solid $gray;
    flex: 1;
    padding: 10px;
    min-width: 40%;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; 

    @include mq(medium) {
        min-width: 20%;
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__producer {
        color: $gray;
    }
}

.count {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    @include mq(large) {
        flex-direction: row;
        justify-content: space-between;
    }

    p,
    span {
        font-size: 13px;
    }
}

.cart {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price {
    display: flex;
    align-items: center;
    gap: 15px;

    &__new {
        font-size: 18px;
        font-weight: 700;
        color: $red;
    }

    &__old {
        font-size: 14px;
    }
}