.timer {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    border: 3px solid $white;
    // min-width: 340px;

    @media (min-width: 600px) {
        width: 55%;
    }

    @media(min-width: 811px) {
        width: 25%;        
    }

    @media(min-width: 1200px) {
        width: 20%;        
    }

    &__info {
        text-align: center;
        font-size: 16px;
        color: $white;
        text-transform: uppercase;
    }

    &__clock {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__box {
        text-align: center;
    }

    &__number,
    span {
        font-size: 36px;
        color: $white;
        font-weight: 700;
    }

    &__unit {
        font-size: 16px;
        color: white;
    }
}